#addrefund-creditcard {
	ion-content {
    	background-color: #ececec;
	}
	.center-text {
		width:80%;
		min-width: 200px;
	    max-width: 450px;
	    margin: 0 auto;
	    background: #FFF;
	    padding: 20px;
	    margin: 20px auto;
	    border-radius: 5px;
	}

	label .currency {
		width: 40px;
	    font-size: 30px;
	    position: absolute;
	    right: 10px;
	    color: gray;
	    line-height: 30px;
	}
	.user_box {
		max-width: initial;

		.user_avatar {
			float:left;
		}

		.name_and_email {
			float: left;
			display: block;
			margin-left: 20px;
			font-size: 20px;
			color: #00a8ec;

			.email {
				font-size:15px;
				color:orange;
			}
		}
	}

	.group-thumbnail {
		margin-left:10px
	}

	.not_registered_notification {
		margin-top:10px;
		
	} 

	ion-footer-bar {
		button {
			margin-top:0;
			i:before {
				font-size: inherit;
				margin-left:10px;
			}
		}
	}
} 