#payments {
	ion-content {
		background: #ececec;

		.center-text {
			width:80%;
			min-width: 200px;
		    max-width: 450px;
		    margin: 0 auto;
		    background: #FFF;
		    padding: 20px;
		    margin: 20px auto;
		    border-radius: 5px;
		}
	}
	.list {
		padding-left: 10px;
		padding-right: 10px;
		margin-top: 20px;



		&.creditcard {
			max-width: 400px;
			margin-left: auto;
			margin-right: auto;

			.item-input {
				padding-right:16px;

				input {
					background-color: #ffffff;
					border: 1px solid #cccccc;
					-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
					-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
					box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
					-webkit-transition: border linear .2s, box-shadow linear .2s;
					-moz-transition: border linear .2s, box-shadow linear .2s;
					-o-transition: border linear .2s, box-shadow linear .2s;
					transition: border linear .2s, box-shadow linear .2s;
					padding: 4px 6px;
					font-size: 14px;
					line-height: 20px;
					color: #555555;
					-webkit-border-radius: 4px;
					-moz-border-radius: 4px;
					border-radius: 4px;

					&:focus {
						border-color: rgba(82, 168, 236, 0.8);
					    outline: 0;
					    outline: thin dotted \9;
					    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6);
					    -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6);
					    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6);
					}

					&.ng-invalid {
					    border-color: #f00 !important;
					}
				}
			}
		}

		label {
		}


	}
}