#sidemenu {
	background-color: #0e6bb9;box-shadow:rgba(9, 44, 117, 0.29) -5px 0px 5px inset
}
#sidemenu ion-header {
	padding:15px;
	text-align:center;
    display: block;
}
#sidemenu ion-header img {
    display:inline-block;
    height:38px;
    position:relative;
    bottom:0;
}
#sidemenu .list {
	color:white;
}
#sidemenu .list .item span {
	white-space:normal;
}
#sidemenu ion-content {
	padding-top: 80px;
}
#sidemenu .item-icon-left {
	background-color:rgba(255, 255, 255, 0);
	padding: 12px;
	padding-left: 50px;
	border-color: rgb(12, 57, 124);
	color:inherit;
	width:100%;
	text-align:left;
	font-size:15px;
}
#sidemenu .item.activated {
	background-color:#0B5491;
}
#sidemenu .user_email {
	font-size: 12px;margin:0; font-style:italic;color: #ccc;
}

#sidemenu .item-icon-left .icon {
    font-size:20px;
}
#sidemenu .flag {
	height: 20px;
	width: 20px;
	top: 12px;
	left: 16px;
	opacity:0.8;
}

/* SETTINGS POPUP */
.options_box {
	text-align:center;
	font-size: 11pt;
	margin-bottom: 20px;
}
.options_box.last {
	margin-bottom:0;
}
.options_box .options_title {
	text-align:left;
}
.options_box.language img+img {
	margin-left:20px;
}

.options_box .item-checkbox {
	font-size: 10pt;
	border: none;
	background: inherit;
	padding-bottom: 0;
	padding-top: 0;
}
.options_box .item-checkbox .item-content {
	white-space: normal;
	word-wrap: break-word;
	text-align: left;
}
/* END SETTINGS POPUP */


/* join group popup */
.joinGroupPopup .img1 {
	text-align: center;
	font-size: 15px;
	background-color: #0e6bb9;
	color: #d0f2ff;
}
.joinGroupPopup .img1:before {
	margin-right: 5px;
	font-weight: bold;
}
.joinGroupPopup label {
	border:1px solid #006699;
	margin: 0 auto;
	margin-bottom:20px;
	max-width: 130px;
}
.joinGroupPopup label input {
	letter-spacing: 5px;
	text-align: center;
}
.joinGroupPopup label i {
	color:#0e6bb9;
	font-size:25px;
}
.joinGroupPopup .subtitle, .joinGroupPopup .subtitle2 {
	font-weight: bold;
	text-align: center;
}
.joinGroupPopup .subtitle2 {
	font-size: 13px;
	text-align: left;
}
.joinGroupPopup .subtitle2 i {
	float: right;
	font-size: 15px;
}
.joinGroupPopup .popup-body {
	padding-bottom: 0;
	padding-top: 0;
	font-size: 13px;
}

.joinGroupPopup li+li {
	margin-top:10px;
}
/* end join group popup */

#modal-feedback textarea {
    height: 100px;
    width:100%;
    border: 1px solid #eee;
    margin-bottom:20px;
}
#modal-feedback ion-content {
    text-align:center;
}