#addrefund-creditcard ion-content {
  background-color: #ececec; }

#addrefund-creditcard .center-text {
  width: 80%;
  min-width: 200px;
  max-width: 450px;
  margin: 0 auto;
  background: #FFF;
  padding: 20px;
  margin: 20px auto;
  border-radius: 5px; }

#addrefund-creditcard label .currency {
  width: 40px;
  font-size: 30px;
  position: absolute;
  right: 10px;
  color: gray;
  line-height: 30px; }

#addrefund-creditcard .user_box {
  max-width: initial; }
  #addrefund-creditcard .user_box .user_avatar {
    float: left; }
  #addrefund-creditcard .user_box .name_and_email {
    float: left;
    display: block;
    margin-left: 20px;
    font-size: 20px;
    color: #00a8ec; }
    #addrefund-creditcard .user_box .name_and_email .email {
      font-size: 15px;
      color: orange; }

#addrefund-creditcard .group-thumbnail {
  margin-left: 10px; }

#addrefund-creditcard .not_registered_notification {
  margin-top: 10px; }

#addrefund-creditcard ion-footer-bar button {
  margin-top: 0; }
  #addrefund-creditcard ion-footer-bar button i:before {
    font-size: inherit;
    margin-left: 10px; }
