/* Header START */
#groups .bar-header .button-clear {
    color:#525252;
    font-size:12px;
}
#groups .bar-header .button-clear:before {
    margin-right:5px;
    color:#fff;
    font-size:30px;
}
#groups .bar-header h1 {
    font-size:18px;
}
#groups .bar-header .ion-information-circled {
    border-radius:10px;
    
}

#groups .bar.bar-footer {
    font-size: 25px;
}

/* Footer START */
#groups .bar.bar-footer {
    padding: 0;
}
#groups .bar.bar-footer .button {
display: block;
margin: 0;
border-radius: 4px;
line-height: 46px;
font-size: 16px;
width: 100%;
border: none;
}
#groups .bar.bar-footer .button i {
padding: 0 10px 0 0;
position: relative;
top: -6px;
vertical-align: bottom;
}

.title.title-center.header-item{
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
}
/* Footer END */
