/* Login page */

@media(max-width:505px) {
.container {
    height:505px;
}
}
.container {
     max-width:400px; margin:0 auto; box-shadow: 0 1px 4px 0 rgba(0,0,0,0.25);
     background:#fff;
}
#login .scroll {
    height:90% !important;
}
div.frameT {
    width: 100%;
    padding: 0;
    display: table;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
}

div.frameTC {
    padding: 0;
    vertical-align: middle;
    display: table-cell;
    margin: 0;
}
#login ion-content {
    background-color:#ececec;
}
#login #login-logo {
    max-width:400px;
    margin:0 auto;
    padding-top:5px;
    padding-bottom: 10px;
    background-color:#fff;

}
#login h3 {
    color: #666;
    margin-bottom: 20px;
    color: #E0FFCF;
    font-size: 30px;
}
#login #login-logo .header  {
    color:#fff;
    background-color:#00a8ec;
    margin:10px 0 20px 0;
    padding:10px 0;
    clear: both;
}
#login #login-logo .header  p {
    width:80%;
    margin:0 auto;
    font-size:15px;
    max-width:400px;
}
#login #login-form {
    max-width:400px;
    background-color:#fff;
    margin:0 auto 0 auto;
    padding-bottom:15px;

    
}
#login #fbk_connect .line2 {
    font-size:11px;
    font-style:italic;
    color:#444;
}
#login #fbk_connect button {
    width: 80%;
    height: 56px;
    padding: 8px;
    background-color: rgb(59, 89, 152);
    border-radius:4px;
    text-align: center;
    display: inline-block;
    color: #f7f7f7;
    text-decoration: none;
    font-size: 15px;
    font-weight: 600;
    border:none;
}
#login #fbk_connect {
    text-align:center;
}
#login #fbk_connect button:active {
    background-position:0 -56px;
    color:#FFF;
}
#login #register-button {
    margin:5px 0;
    font-size:15px;
    padding: 5px 20px;
    border-radius: 5px;
    font-size: 16px; 
}
#login #gotologin-button {
    margin: 5px auto;
    padding: 1px 10px;
    border-radius: 2px;
    font-size: 13px;
    display:block;
    height:20px;
    margin-top:20px;
}

/*#login #login-form form {
    border-top: 1px solid orange;
    padding-top: 15px;
}*/

#login .title {
    text-align: left;
}

#login input:focus {
    border-left:2px solid #FFC01F;
}

/* #login #signin-button, #login #login-button {
    border-radius:3px;
    width: 200px;
    margin: 0 auto;
    min-height: initial;
    margin-top:10px;
}*/
#login #login-button {
    width: 80%;
    height: 56px;
    padding: 8px;
    background-color: orange;
    border-radius:4px;
    text-align: center;
    display: inline-block;
    color: white;
    text-decoration: none;
    font-size: 15px;
    font-weight: 600;
    border:none;

}
#login #login-button:before {
    font-size:15px;
    font-weight:normal;
    line-height:35px;
}
#login #forgot-password {
    //position:absolute;
    margin-top: -15px;
    margin-left: 30px;
}
#login label {
    width:90%;
    margin:0 auto 6px auto;
    border:none;
    padding-left:15px;
    padding-right:15px;
}

#login #login-form label input {
    background-color:#f7f7f7;
    padding-left:10px;
    padding-right:10px;
    height: 40px;
    border-radius: 5px;
    text-align: center;
}

#login #login-form label input:focus {
    border: 1px solid blue;
    border-color: rgba(82,168,236,.8);
    outline: 0;
    -webkit-box-shadow: 0 0 8px rgba(82,168,236,.6);
    box-shadow: 0 0 5px rgba(82,168,236,.6);
}

button#gotologin-button{
    background: none;
    border:none;
    color:black;
}

button#signin-button{
    width: 80%;
    height: 56px;
    padding: 8px;
    background-color: light-blue;
    border-radius:4px;
    text-align: center;
    display: inline-block;
    color: white;
    text-decoration: none;
    font-size: 15px;
    font-weight: 600;
    border:none;
}

.list{
    text-align: center;
}
