<ion-view title="{{curr_title}}" id="addexpense">
    <ion-content has-bouncing="false" has-header has-footer scroll="false">
        <ion-slides options="options" slider="data.slider" >
            <ion-slide-page>
                <ion-content>
                    <div class="center-text">
                        <div class="list">
                            <div translate class="input_label">How much?</div>
                            <label for="amount_field" class="item item-input item-label">
                                <input id="amount_field" class="amount_field centered" ng-show="!tel_keyboard" ng-change="calculateShares()" placeholder="{{0.00 | currency:' '}}" ng-model="expense.amount" type="number" string-to-number step="any" />
                                <input id="amount_field" class="amount_field centered" ng-show="tel_keyboard" ng-change="calculateShares()" placeholder="{{0.00 | currency:' '}}" ng-model="expense.amount" type="tel" step="any" />
                                <div class="amount">{{group.currency.symbol}}</div>
                            </label>
                            
                            <div translate class="input_label">Who paid?</div>
                            <label class="item item-input item-icon-right item-label">

                                <i class="icon ion-arrow-down-b icon-accessory"></i>
                                <div class="spender_name">
                                    <span ng-if="expense.spender">{{expense.spender.username}}</span>
                                    <span ng-if="!expense.spender" translate>Select spender</span>
                                </div>
                                <select class="select_spender" ng-model="expense.spender" ng-options="member as member.username for member in entryMembers" required="required">
                                </select>
                            </label>
                            
                            <div class="input_label"><span translate>For what?</span> <em translate>(optional)</em></div>
                            <div class="title_and_category">
                                <div class="category">
                                    <div class="cat-item" ng-click="openCategories()">
                                        <i ng-class="expense.category_id ? 'glyphicons glyphicons-' + categories[expense.category_id].icon : 'glyphicons glyphicons-' + categories[1].icon"></i>
                                    </div>
                                </div>
                                <div class="title">
                                    <label class="item item-input item-label">
                                        <input class="description centered" maxlength="255" ng-model="expense.title" type="text" placeholder="{{'Expense was for...'|translate}}" />
                                    </label>
                                </div>
                            </div>


                            <label class="item item-input item-label item-icon-left date-label">
                                <i class="icon ion-calendar icon-accessory"></i>
                                <div translate class="input_label">When?</div>
                                <input type="date" class="date" ng-model="expense.date" />
                            </label>
                            
                        </div>

                        <div class="marginTop">
                            <button type="button" ng-if="curr_action == 'edit'" ng-click="deleteExpense()" class="button deleteExpense button-assertive icon-left ion-ios-trash-outline"></button>
                            <button type="button" ng-click="nextSlide()" class="changeSlide nextSlide button button-calm icon-right ion-chevron-right icon-accessory" translate><i class="ion-android-people"></i> Select beneficiaries</button>
                            
                            <div style="clear:right"></div>
                        </div>
                    </div>
                </ion-content>
            </ion-slide-page>

            <ion-slide-page>
                <ion-content>
                    <div class="bar addexpense-swipe-notification bar-positive" ng-if="data.showInfoMessage" translate>Swipe to edit expense!</div>
                    <div class="sub_header" ng-click="previousSlide()">
                        <strong>{{expense.spender.username}}</strong> <span translate>has spent</span>
                        <strong>{{expense.amount | currency:group.currency.symbol}}</strong>
                    </div>
                    <div class="item item-input item-label">
                        <span translate class="input-label">Members</span>
                        <a ng-click="selectAll()" id="allbutton" class="button button-balanced button-small ion-checkmark align-right">
                            <span ng-if="select_state" translate>Unselect all</span>
                            <span ng-if="!select_state" translate>Select all</span>
                        </a>
                    </div>

                    <ul class="list members">
                        <li class="item item-input-inset" ng-repeat="member in entryMembers">
                                <ion-checkbox ng-model="member.selected" ng-class="{0:'disabled'}[member.share]" ng-change="changeState(member)" name="user">{{member.username}}</ion-checkbox>
                            <div class="share_box_container">

                                <div class="share_box" toggle-share-box ng-click="toggleButtons(member)">
                                    <div class="user-share" ng-class="{0:'disabled'}[member.share]">
                                        <span class="user-share-count" >{{member.share}}</span> <span translate translate-n="member.share" translate-plural="shares">share</span>
                                    </div>

                                    <div class="user-shared-amount"><i ng-class="{true:'hidden'}[member.showShareButtons]" class="ion-edit"></i> {{member.sharedAmount | currency:group.currency.symbol}}</div> 
                                </div>
                                <div class="share_buttons" ng-class="{true:'visible'}[member.showShareButtons]">
                                    <button type="button" ng-click="removeShare(member)"  ng-class="{0:'disabled'}[member.share]" class="button icon ion-minus-round"></button>
                                    <button type="button" ng-click="addShare(member)" ng-class="{0:'disabled'}[member.share]" class="button icon ion-plus-round"></button>
                                </div>
                            </div>
                        </li>
                    </ul>
                </ion-content>
            </ion-slide-page>
        </ion-slides>

    </ion-content>

    <ion-footer-bar class="bar-positive">
        <button type="button" class="button button-clear saveExpense button-block icon ion-android-checkmark-circle" ng-click="validForm()" translate>Save expense</button>   
    </ion-footer-bar>
</ion-view>