<ion-view cache-view="false" title="{{curr_title}}" id="addexpense">

    <ion-nav-buttons side="right">
        <a ng-if="curr_action == 'edit'" ng-click="deleteExpense()" class="button button-clear button-clear icon-left ion-ios7-trash-outline"></a>
        <a class="button button-clear icon-left ion-checkmark" ng-click="validForm()"></a>
    </ion-nav-buttons>

    <form novalidate="novalidate" on-valid-submit="validForm()">
        <ion-content has-bouncing="false" has-header has-footer scroll="false">
            <ion-slide-box>
                <ion-slide>
                    <div class="list">
                        <div translate class="input_label">Qui a payé ?</div>
                        <label class="item item-input item-icon-right item-label">
                    
                            <i class="icon ion-arrow-down-b icon-accessory"></i>
                            <div class="spender_name">
                                <span ng-if="expense.spender">{{membersNames[expense.spender]}}</span>
                                <span ng-if="!expense.spender" translate>Selectionner le payeur</span>
                            </div>
                            <select class="select_spender" ng-model="expense.spender" ng-options="member.guid as member.username for member in groupMembers" required="required">
                            </select>
                           
                        </label>
                        
                        <div translate class="input_label">Combien ?</div>
                        <label for="amount_field" class="item item-input item-label">
                            <input id="amount_field" class="centered" ng-show="!tel_keyboard" ng-change="calculateShares()" placeholder="{{0.00 | currency:' '}}" ng-model="expense.amount" type="number" step="any" />
                            <input id="amount_field" class="centered" ng-show="tel_keyboard" ng-change="calculateShares()" placeholder="{{0.00 | currency:' '}}" ng-model="expense.amount" type="tel" step="any" />
                            <div class="amount">{{currency_symbol}}</div>
                        </label>
    
                        <div translate class="input_label">Pourquoi ?</div>
                        <label class="item item-input item-label">
                            <input class="centered" maxlength="255" ng-model="expense.title" type="text" placeholder="{{'Motif de la dépense (facultatif)'|translate}}" />
                        </label>

      
                        <label class="item item-input item-label item-icon-left date-label">
                            <i class="icon ion-calendar icon-accessory"></i>
                            <div translate class="input_label">Quand ?</div>
                            <input type="date" id="datef" ng-model="expense.date" />
                        </label>
                    </div>
             

                    <div class="swipe_msg" ng-click="nextSlide()">
                        <img src="assets/images/members.png">
                        <span translate>Sélectionner les participants</span>
                        <i class="icon ion-ios7-arrow-forward"></i>
                        <i class="icon ion-ios7-arrow-forward"></i>
                    </div>

                </ion-slide>
                
                <ion-slide> 
                    <ion-content has-bouncing="false">
                        <div class="sub_header" ng-click="previousSlide()">
                            <strong>{{membersNames[expense.spender]}}</strong> <span translate>a dépensé</span>
                            <strong>{{expense.amount | currency:currency_symbol}}</strong>
                        </div>
                        <div class="item item-input item-label">
                            <span translate class="input-label">Participants</span>
                            <a ng-click="selectAll()" id="allbutton" class="button button-balanced button-small ion-checkmark align-right">
                                <span ng-if="select_state" translate>Désélectionner tous</span>
                                <span ng-if="!select_state" translate>Sélectionner tous</span>
                            </a>
                        </div>
                        
                        <ul class="list members">
                            <li class="item item-input-inset" ng-repeat="member in groupMembers">
                                <label class="checkbox item-input-wrapper">
                                    <input ng-model="member.selected" ng-change="changeState(member)" type="checkbox" name="user" />
                                    <p ng-class="{0:'disabled'}[member.share]">{{member.username}}</p>
                                </label>
              
                                <div>
                                    <div class="share_box">
                                        <div class="user-share" ng-class="{0:'disabled'}[member.share]">
                                            <span class="user-share-count" >{{member.share}}</span> <span translate>part</span><span ng-show="member.share>1.5">s</span>
                                        </div>
                                        <div class="user-shared-amount">{{member.sharedAmount | currency:currency_symbol}}</div> 
                                    </div>

                                    <button type="button" ng-click="removeShare(member)"  ng-class="{0:'disabled'}[member.share]" class="button icon ion-minus-round"></button>
                                    <button type="button" ng-click="addShare(member)" ng-class="{0:'disabled'}[member.share]" class="button icon ion-plus-round"></button>

                                </div>
                            </li>
                        </ul>
                    </ion-content>
                </ion-slide>
            </ion-slide-box>
        </ion-content>
    </form> 
</ion-view>