<ion-view cache-view="false" title="{{curr_title}}" id="addexpense">

    <ion-nav-buttons side="right">
        <button class="button button-clear icon-left ion-checkmark" ng-click="validForm()"></button>
    </ion-nav-buttons>

    <form novalidate="novalidate" on-valid-submit="validForm()">
        <ion-content has-bouncing="false" has-header has-footer scroll="false">
            <ion-slide-box>
                <ion-slide>
                    <div class="list">
                        <div translate class="input_label">Who paid?</div>
                        <label class="item item-input item-icon-right item-label">

                            <i class="icon ion-arrow-down-b icon-accessory"></i>
                            <div class="spender_name">
                                <span ng-if="expense.spender">{{membersNames[expense.spender]}}</span>
                                <span ng-if="!expense.spender" translate>Select spender</span>
                            </div>
                            <select class="select_spender" ng-model="expense.spender" ng-options="member.guid as member.username for member in groupMembers" required="required">
                            </select>

                        </label>

                        <div translate class="input_label">How much?</div>
                        <label for="amount_field" class="item item-input item-label">
                            <input id="amount_field" class="centered" ng-show="!tel_keyboard" ng-change="calculateShares()" placeholder="{{0.00 | currency:' '}}" ng-model="expense.amount" type="number" step="any" />
                            <input id="amount_field" class="centered" ng-show="tel_keyboard" ng-change="calculateShares()" placeholder="{{0.00 | currency:' '}}" ng-model="expense.amount" type="tel" step="any" />
                            <div class="amount">{{currency_symbol}}</div>
                        </label>

                        <div translate class="input_label">For what?</div>
                        <label class="item item-input item-label">
                            <input class="centered" maxlength="255" ng-model="expense.title" type="text" placeholder="{{'Expenses was for... (optional)'|translate}}" />
                        </label>


                        <label class="item item-input item-label item-icon-left date-label">
                            <i class="icon ion-calendar icon-accessory"></i>
                            <div translate class="input_label">When?</div>
                            <input type="date" id="datef" ng-model="expense.date" />
                        </label>
                    </div>

                    <div class="center-text">
                        <button type="button" ng-click="nextSlide()" class="changeSlide button button-calm button-block icon-right ion-chevron-right icon-accessory" translate>Select beneficiaries</button>
                        <button type="button" ng-if="curr_action == 'edit'" ng-click="deleteExpense()" class="button button-assertive button-block icon-left ion-ios7-trash-outline" translate>Delete expense</button>
                    </div>
                </ion-slide>

            <ion-slide> 
                <ion-content has-bouncing="false">
                    <div class="sub_header" ng-click="previousSlide()">
                        <strong>{{membersNames[expense.spender]}}</strong> <span translate>has spent</span>
                        <strong>{{expense.amount | currency:currency_symbol}}</strong>
                    </div>
                    <div class="item item-input item-label">
                        <span translate class="input-label">Members</span>
                        <a ng-click="selectAll()" id="allbutton" class="button button-balanced button-small ion-checkmark align-right">
                            <span ng-if="select_state" translate>Unselect all</span>
                            <span ng-if="!select_state" translate>Select all</span>
                        </a>
                    </div>

                    <ul class="list members">
                        <li class="item item-input-inset" ng-repeat="member in groupMembers">
                            <label class="checkbox item-input-wrapper">
                                <input ng-model="member.selected" ng-change="changeState(member)" type="checkbox" name="user" />
                                <p ng-class="{0:'disabled'}[member.share]">{{member.username}}</p>
                            </label>

                            <div>
                                <div class="share_box">
                                    <div class="user-share" ng-class="{0:'disabled'}[member.share]">
                                        <span class="user-share-count" >{{member.share}}</span> <span translate translate-n="member.share" translate-plural="shares">share</span>
                                    </div>
                                    <div class="user-shared-amount">{{member.sharedAmount | currency:currency_symbol}}</div> 
                                </div>

                                <button type="button" ng-click="removeShare(member)"  ng-class="{0:'disabled'}[member.share]" class="button icon ion-minus-round"></button>
                                <button type="button" ng-click="addShare(member)" ng-class="{0:'disabled'}[member.share]" class="button icon ion-plus-round"></button>

                            </div>
                        </li>
                    </ul>
                    <div class="center-text" style="padding-top:20px;">
                        <button type="button" ng-click="previousSlide()" class="changeSlide button button-calm button-block icon-left ion-chevron-left icon-accessory" translate>Expense details</button>
                    </div>
                </ion-content>
            </ion-slide>
        </ion-slide-box>
    </ion-content>
    </form> 
</ion-view>