<ion-view title="Rembourser" id="addrefund-creditcard">
    <ion-content has-bouncing="false" has-header has-footer scroll="false">
        <div class="center-text">
            <div class="list">
                <div translate class="input_label">To</div>
                <button class="user_box on">
                    <div class="user_avatar">
                        {{beneficiary.username.toUpperCase()| limitTo : 3 : 0}}<br /><i class="ion-checkmark-round"></i>
                    </div>
                    <div class="name_and_email">
                        {{beneficiary.username}}
                        <p class="email">email</p>
                    </div>
                </button>
                <div style="clear:both"></div>
                
                <div class="">
                    <div translate class="input_label">In group</div>
                        <div class="group-thumbnail" style="background-color: {{getGroupThumbnailColor(beneficiary.group)}};">
                            {{beneficiary.group.toUpperCase()| limitTo : 1 : 0}}
                        </div>
                        <p>{{beneficiary.group}}</p>
                    </div>
                </div>
                <!--Comme Antoine n'est pas inscrit sur Debal, nous avons besoin de son adresse email pour l'avertir du paiement</p>-->
                <div style="clear:both"></div>
                <div translate ng-if="!beneficiary.registered" class="not_registered_notification">{{beneficiary.username}} is not registered on Debal, we need their email address in order to warn them of the payment!
                    <div translate class="input_label">Email address</div>
                    <label class="item item-input item-icon-right item-label">
                        <input class="centered" placeholder="{{beneficiary.username}}@email.com" ng-model="beneficiary.email" type="text" />
                    </label>
                </div>
                
                <br />

                <div translate class="input_label">How much?</div>
                <label for="amount_field" class="item item-input item-label">
                    <input id="amount_field" class="amount_field centered" ng-show="!tel_keyboard" ng-change="calculateShares()" placeholder="{{0.00 | currency:' '}}"  ng-model="refund.amount" type="number" string-to-number step="any" />
                    <input id="amount_field"  class="amount_field centered" ng-show="tel_keyboard" ng-change="calculateShares()" placeholder="{{0.00 | currency:' '}}" ng-model="refund.amount" type="tel" step="any" />
                    <div class="currency">{{group.currency.symbol}}</div>
                </label>
                <p translate>Hint: you currently owe {{beneficiary.username}}  {{debt | currency:group.currency.symbol}}
                
            </div>

            <div class="card" ng-if="!current_user.hasPayerAccount" >
                <div class="item item-text-wrap" translate>
                {{message.no_account}}
                <!--Comme c'est ton premier paiement, nous aurons besoin de quelques informations supplémentaires (nom, prénom, date de naissance...) que tu pourras renseigner à la prochaine étape-->
                </div>
            </div>
        </div>

    </ion-content>

    <ion-footer-bar class="bar-positive">
        <button type="button" class="button button-clear button-block" ng-click="AddRefundStep2()" translate>Continue <i class="icon-right ion-chevron-right">&nbsp;</i></button>   
    </ion-footer-bar>
</ion-view>