<ion-view view-title="{{'New group'|translate}}" id="creategroup">
    <ion-content has-bouncing="false" has-header>
        <form novalidate="novalidate" on-valid-submit="addGroup()">
            <div class="list" style="padding-left: 10px; padding-right: 10px;margin-top: 20px;">
                <label class="item item-input item-label" style="margin-bottom:10px">
                    <input ng-model="group.name" type="text" placeholder="{{'Enter a name for this group'|translate}}" name="group" required="required">
                </label>
                <label class="item item-input item-icon-right item-label">
                    <span translate class="input-label">Currency</span>
                    <i class="icon ion-arrow-down-b icon-accessory"></i>
                    <select class="currency" ng-model="group.currency" ng-options="curr.name_{{locale}} for (k, curr) in currencies" required="required"></select>
                </label>

                <div class="members_title" translate>Members</div>

                <div ng-repeat="member in group.members" ng-class="{true:'current-user'}[member.current_user]" class="userlist nomargin card item item-input-inset">
                    <div class="user_avatar">{{member.username.toUpperCase()| limitTo : 3 : 0}}</div>
                    <label class="item-input-wrapper"  style="font-size:20px; padding-left:2px">
                        <div style="font-size:16px; color:black" ng-model="member.username" type="text" class="username_small" ng-readonly name="member" required="required">{{member.username}}</div>
                    </label>
                    <button type="button" class="user_share" ng-click="editShare(member)">{{member.share}}<br /><span translate translate-n="member.share" translate-plural="shares">share</span></button>
                    <button type="button" ng-disabled="member.current_user" ng-click="group.members.splice($index, 1)" class="button icon button-small ion-trash-a user_remove"></button>
                </div>
                
                <button type="button" translate class="addMember icon-left ion-person-add" ng-click="addMember()">Add a member</button>
                <button type="button" translate class="button button-block button-positive" ng-click="addGroup()">Create group</button>
            </div>
        </form> 
    </ion-content>
</ion-view>