<ion-view cache-view="false" title="{{'New group'|translate}}" id="creategroup">
    <ion-nav-buttons side="right">

        <a data-instantActivate class="button button-clear icon-left ion-checkmark" ng-click="addGroup()"></a>
    </ion-nav-buttons>

    <ion-content has-bouncing="false" has-header>
        <form novalidate="novalidate" on-valid-submit="addGroup()">
            <div class="list" style="padding-left: 10px; padding-right: 10px;margin-top: 20px;">
                <label class="item item-input item-label">
                    <span translate class="input-label">Group name</span>
                    <input autofocus ng-model="group.name" type="text" placeholder="{{'Enter a name'|translate}}" name="group" required="required">
                </label>
                <label class="item item-input item-icon-right item-label">
                    <span translate class="input-label">Currency</span>
                    <i class="icon ion-arrow-down-b icon-accessory"></i>
                    <select class="currency" ng-model="group.currency" ng-options="curr.name_{{locale}} for (k, curr) in currencies" required="required"></select>
                </label>

                <div class="members_title" translate>Members</div>

                <div ng-repeat="member in group.members" class="userlist nomargin card item item-input-inset">
                    <label class="item-input-wrapper validated icon-left ion-person" ng-class="{true:'current-user'}[member.current_user]" style="font-size:20px; padding-left:2px">
                        <div style="font-size:16px; color:black" ng-model="member.username" type="text" class="username_small" ng-readonly name="member" required="required">{{member.username}}</div>
                    </label>
                    <div ng-click="editShare(member)" class="button button-small button-energized share-status icon-left ion-pie-graph">{{member.share}}</div>
                    <button ng-disabled="member.current_user" ng-click="group.members.splice($index, 1)" class="button icon button-small ion-trash-a"></button>
                </div>
                
                <a data-instantActivate style="margin-right:10px" class="creategroup_button creategroup_button1" ng-click="addMember()">Add a member</a>
            </div>
        </form> 
    </ion-content>
</ion-view>