<ion-view cache-view="false" title="{{'Edit group'|translate}}" id="editgroup">

    <ion-nav-buttons side="right">
        <button ng-show="tab_index == 1" class="button button-clear icon-left ion-checkmark" ng-click="editGroup()"></button>
        <button ng-show="tab_index == 0" class="button button-clear icon-left ion-android-person-add" ng-click="addMember()"></button>
    </ion-nav-buttons>

    <ion-tabs ng-click="selectTab()" class="tabs-positive tabs-striped">

        <ion-tab title="{{'Members'|translate}}">
            <ion-content has-bouncing="false" has-tabs="true" has-footer="false" class="has-tabs ionic-scroll">
                <div class="list">
                    <div ng-class="{'disabled': member.share==0}" ng-repeat="member in group.members" class="userlist item item-input-inset card" ng-show="member.deleted == 0">
                        <label class="item-input-wrapper icon-left ion-person" ng-class="{'current-user': member.current_user, 'registered-user': member.registered && !member.current_user, 'guest-user': !member.registered && !member.current_user}">
                            <div ng-model="member.username" type="text" ng-readonly name="member" class="username" required="required" style="width:100%">
                                <p class="username" ng-class="{'stroke': member.share==0}">{{member.username}}</p>
                                <p>{{member.share}} <span translate>default share</span></p>
                                <p class="info" ng-show="member.registered || member.current_user">({{member.email}})</p>
                                <p class="info" ng-show="!member.registered && !member.current_user && !member.invited && member.share!=0"><strong translate>Invite them to manage the group with their phone!</strong></p>
                                <p class="info" ng-show="member.invited && !member.registered && !member.current_user"><span translate>Invited</span> ({{member.invite_email}})</p>
                                <p translate class="info" ng-show="member.share==0">Change their share to have them back in the group</p>
                            </div>
                        </label>
                        <a translate ng-click="openPopover($event, member, $index)" class="button button-small icon-left button-clear ion-android-more-vertical button-energized">options</a>
                    </div>
                </div>
            </ion-content>
            <ion-footer-bar></ion-footer-bar>
        </ion-tab>

        <ion-tab title="{{'Settings'|translate}}">
            <ion-content has-bouncing="false" has-tabs="true" class="ionic-scroll">
                <div class="list" style="padding:10px;">
                    <form novalidate="novalidate" on-valid-submit="editGroup()">
                        <label class="item item-input item-label">
                            <span translate class="input-label">Group name</span>
                            <input ng-model="group.name" type="text" placeholder="{{'Enter a name'|translate}}..." name="group" required="required">
                        </label>

                        <label class="item item-input item-icon-right item-label">
                            <span translate class="input-label">Currency</span>
                            <i class="icon ion-arrow-down-b icon-accessory"></i>
                            <select class="currency"  ng-model="group.currency" ng-options="curr.name_{{locale}} for (k, curr) in currencies" required="required"></select>
                        </label>

                        <label class="item item-input item-icon-right item-label">
                            <span translate class="input-label">Secondary Currency</span>
                            <i class="icon ion-arrow-down-b icon-accessory"></i>
                            <select class="currency"  ng-model="group.secondary_currency" ng-options="curr.name_{{locale}} for (k, curr) in currencies" required="required"></select>
                        </label>
                    </form>

                     <button ng-click="deleteGroup()" class="button button-assertive button-block icon-left ion-ios7-trash-outline" style="width: 300px;margin: 20px auto;" translate>Delete group</button>
                    </div>
            </ion-content>
            <ion-footer-bar></ion-footer-bar>
        </ion-tab>
    </ion-tabs>
</ion-view>