<ion-view hide-nav-bar="false" hide-back-button="true" view-title="{{'My groups'|translate}}" id="groups">

    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>

    <div class="bar bar-subheader notifications" ng-if="joinrequests.requests.length>0" ng-click="openJoinRequests()">
        <div class="title icon-right ion-chevron-right icon-accessory"><i class="ion-android-notifications-none"></i><span translate translate-n="joinrequests.requests.length" translate-plural="{{joinrequests.requests.length}} members asked to join one of your groups">{{joinrequests.requests.length}} member asked to join one of your groups</span></div>
    </div>

    <ion-content class="has-footer" ng-class="{'has-subheader': joinrequests.requests.length>0}">
        <ion-refresher on-refresh="doRefresh()"
        pulling-text="{{'Manual sync'|translate}}"
        refreshing-text="{{'Now syncing...'|translate}}..."
        refreshing-icon="ion-loading-d"></ion-refresher>

        <section ng-if="groups.length" id="group-buttons">
            <div class="list">
                <div collection-repeat="group in groups" class="item item-icon-right" ng-click="openGroup(group.GroupId)">
                    <div class="thumbnail" style="background-color: {{getThumbnailColor(group.name)}};">{{group.name.toUpperCase()| limitTo : 1 : 0}}</div>
                    {{group.name}}
                    <div class="secondLine">{{group.members_list}}</div>

                    <i class="icon ion-chevron-right icon-accessory"></i>
                    <div class="line" ng-if="!$last"></div>
                </div>
            </div> 
        </section>

        <div ng-if="showWelcomeMessage" class="list">
            <div translate class="item text-center welcome-msg">Hey there! You aren't part of any group, what a pity! Here's what you can do:</div>
            <div ng-click="goCreategroup()" class="item item-icon-left"><i class="icon ion-plus"></i> <span translate>Create a group</span></div>
            <div ng-click="openJoinGroupPopup()" class="item item-icon-left"><i class="icon ion-android-share"></i> <span translate>Ask to join an existing group</span></div>
        </div>

    </ion-content>

    <ion-footer class="bar bar-footer">
        <button ng-click="goCreategroup()" class="button button-positive button-full icon-right ion-chevron-right icon-accessory">
            <span translate>Create a group</span>
        </button>
    </ion-footer>
</ion-view>