<ion-view id="groupexpenses" view-title="{{group_data.name}}">

        <ion-nav-title>{{group_data.name}}</ion-nav-title>

        <ion-nav-buttons side="right">
            <button class="button badge badge-assertive" ng-click="openJoinRequests()">1</button>
            <button ng-click="goSettings()" style="margin-right:10px" class="button button-clear icon-left ion-gear-a"></button>
        </ion-nav-buttons>


        <ion-tabs class="tabs-striped tabs-balanced">

        <ion-tab id="expenses" title="{{'Expenses'|translate}}">

            <div ng-show="group_data.public_key.length" class="groupexpenses_subheader"><span translate>Group key:</span> {{group_data.public_key}}</div>
            <ion-content has-bouncing="false" has-tabs="true" has-footer="false" class="has-tabs ionic-scroll">

                <ion-refresher on-refresh="doRefresh()"
                         pulling-text="{{'Manual sync'|translate}}"
                         refreshing-text="{{'Now syncing...'|translate}}..."
                         refreshing-icon="ion-loading-d"></ion-refresher>
                
                <!--<div translate class="item item-divider">Expenses</div>-->
                
                <a class="expenseslist item" collection-repeat="expense in expenses" item-height="60">

                    <div class="flex">
                        <div class="expense_icon" ng-class="{'paid_by_me' : expense.GroupsUserId === currentUserGuid, 'includes_me' : (expense.current_user_in_expense && expense.GroupsUserId !== currentUserGuid)}" ng-click="showIconTip(expense)">
                            <i class="ion-android-list"></i>
                        </div>
                        <div class="title" ng-click="editExpense(expense.EntryId)">
                            <p class="title_line" ng-if="expense.title">{{expense.title}}</p><p ng-if="!expense.title" translate>Various</p> <i ng-show="!expense.id" class="ion-ios7-bolt-outline"></i>
                            <p style="font-style: normal;font-size:12px;">
                                <span translate>paid by</span> 
                                <strong ng-if="expense.GroupsUserId!=currentUserGuid">{{membersNames[expense.GroupsUserId]}}</strong>
                                <strong translate class="myself" ng-if="expense.GroupsUserId==currentUserGuid">You</strong>
                            </p>
                        </div>

                        <div class="amount">
                            <h2 style="color:#00a8ec">{{expense.amount | currency:group_data.currency_symbol}}</h2>
                            <p style="font-size:12px">{{ expense.date | date: 'shortDate'}}</p>
                            <!--<p class="share_indicator" ng-class="{'owed': expense.GroupsUserId==currentUserGuid}" ng-if="expense.GroupsUserId==currentUserGuid">{{expense.amount-expense.shared_amount|currency:group_data.currency_symbol}}</p>
                            <p class="share_indicator" ng-class="{'owes': expense.GroupsUserId!=currentUserGuid}" ng-if="expense.GroupsUserId!=currentUserGuid && expense.current_user_in_expense">{{expense.shared_amount|currency:group_data.currency_symbol}}</p>-->
                        </div>
                    </div>
                </a>

                <span translate class="item item-icon-right" ng-click="addExpense()" ng-show="!expenses.length">No expense added</span>

            </ion-content>
            <ion-footer-bar>
                <div class="buttons">
                    <button id="addexpensebutton" ng-click="addExpense()" class="button button-clear icon-left ion-plus-circled"></button>
                </div>
            </ion-footer-bar>

        </ion-tab>

        <ion-tab ng-click="showBalance()" title="{{'Debts'|translate}}">

            <ion-content has-bouncing="false" has-tabs="true" class="ionic-scroll">
                
                <!--<div translate class="item item-divider">Who owes what?</div>-->
                <ul class="list" style="margin-bottom:0">

                    <span translate class="item item-icon-right" ng-show="!expenses.length || expenses.length==0">No expense added</span>
                    <span translate class="item item-icon-right" ng-show="settled">Debts are already settled!</span>
                    <li ng-repeat="(guid,flows) in balances " ng-if="flows.length>0" class="item" ng-class="{'myself': guid==currentUserGuid}">

                        <div ng-if="flows.length>=1" ng-repeat="(k,flow) in flows" class="debts">
                            <p ng-if="k==0" class="col-left">
                                <strong>{{membersNames[guid]}}</strong> <span translate>owes</span>
                            </p>
                            
                            <p class="col-right">
                                <span translate ng-if="k>0">and</span>
                                <strong class="amount">{{flow.amount | currency:group_data.currency_symbol}}</strong>
                                <span>(XXX $)</span>
                                <br />
                                <span translate>to</span>
                                <strong ng-class="{true:'myself'}[flows[k].to==currentUserGuid]" class="beneficiary">{{membersNames[flows[k].to]}}</strong>
                            </p>
                            <p style="clear:both"></p>
                        </div>

                    </li>
                </ul>

                <p>1 € = XXXX $</p>

                <div translate class="item item-divider icon-left ion-android-share">Share balance</div>
                <ul class="list">
                    <li ng-show="group_data.public_key" class="item item-text-wrap"><span translate>Check the accounts from this address:</span>
                        <p class="url">
                            <button class="button button-block button-energized icon-right icon ion-chevron-right" ng-click="openGroupUrl()">http://debal.fr/<strong>{{group_data.public_key}}</strong></button>
                        </p>

                        <span translate><strong>Share this address</strong> via Email, SMS, Facebook, Whatsapp... with other group members to give them access to the balance!</span>
                        <p class="share">
                            <button translate ng-click="ShareGroup()" class="button button-block button-calm ion-android-share">Share</button>
                        </p>

                    </li>
                    <li translate ng-show="!group_data.public_key" class="card item item-text-wrap">You haven't synced the group yet. Sync it (Internet required), so you can manage it from its Web page and share it with other members!</li>
                </ul>
                
            </ion-content>
            <ion-footer-bar></ion-footer-bar>
        </ion-tab>
    </ion-tabs>
</ion-view>