<ion-view cache-view="false" title="Landing" id="landing">
<ion-content scroll="false">

<div class="backgroundlanding">
	<section class="text-center top_content">
		<img id="login-logo" src="assets/images/logo_debal.png" />
	</section>

	<section class="text-center middle_content">
		<div id="central_text">Où que vous soyez
			ajoutez vos dépenses avec ou 
			sans connexion internet !</div>
		</section>

		<section class="text-center bottom_content">
			<a href="#" title="Connexion via Facebook">
				<div class="button_landing button1">Connexion via Facebook</div>
			</a>
			<a href="#" title="S'inscrire">
				<div class="button_landing button2">S'inscrire</div>
			</a>
			<div class="mid_text"> Vous avez déjà un compte,</div>
			<a href="#" title="Se connecter">
				<div class="button_landing button3">Se connecter</div>
			</a>
		</section>

	</div>


</ion-content>
</ion-view>