<ion-view cache-view="false" title="Login" id="login">
    <ion-content scroll="true">
        <section >
        <button data-instantActivate translate type="button" class="landing_back" ng-click="goLanding()">Retour</button>
    </section>

    <section class="text-center top_content">
        <img id="login-logo" src="assets/images/logo_debal.png" />
    </section>
                    <section id="login-form" class="list">
                        
                        <form novalidate="novalidate" on-valid-submit="signIn(user)">
                            <div class="list">
                                <label class="item item-input validated">
                                    <input placeholder="{{'votre'|translate}}@email.com" type="email" ng-model="user.email" required="required" name="email" />
                                    <i class="icon ion-alert-circled error"></i>
                                </label>
                                <label class="item item-input validated">
                                    <input placeholder="{{'Mot de passe'|translate}}" id="password" type="password" ng-model="user.password" name="password" required="required">
                                    <i class="icon ion-alert-circled error"></i>
                                </label>
                                <button data-instantActivate translate ng-click="forgotPassword()" id="forgot-password" class="button button-small button-clear" type="button">Mot de passe oublié ?</button>
                                <button data-instantActivate translate class="login_button login_button2" type="submit"> Connexion</button>
                                <button data-instantActivate translate type="button" ng-click="goRegister()" class="login_button login_button4" >Je n'ai pas de compte !</button>
                            </div>
                        </form>
                    </section>

                </div>
            </div>
        </div>

    </ion-content>
</ion-view>