<ion-view hide-nav-bar="false" view-title="{{'Your payer account'|translate}}" id="payments">
    <ion-content scroll="false">
        <div class="center-text">
            <div class="list">
                <label class="item item-input item-label">
                    <span class="input-label" translate>Last name</span>
                    <input type="text" ng-model="account.last_name" placeholder="DUPONT">
                </label>
                <label class="item item-input">
                    <span class="input-label" translate>First name</span>
                    <input type="text" ng-model="account.first_name" placeholder="Jean">
                </label>
                <label class="item item-input item-icon">
                    <span class="input-label" translate>Birthday</span>
                    <i class="icon ion-calendar icon-accessory"></i>
                    <input ng-click="openDatePicker()" ng-model="account.birthday" type="text">
                </label>
                <label class="item item-input item-icon-right item-label item-select-list">
                    <span class="input-label" translate>Nationality</span>
                    <i class="icon ion-arrow-down-b icon-accessory"></i>
                    <select pvp-country-picker="name" ng-model="account.nationality" ></select>
                </label>
                <label class="item item-input item-icon-right item-label item-select-list">
                    <span class="input-label" translate>Country of residence</span>
                    <i class="icon ion-arrow-down-b icon-accessory"></i>
                    <select pvp-country-picker="name" ng-model="account.country_of_residence"></select>
                </label>

                <button type="button" translate class="button button-block button-positive" ng-click="saveAccountData()">Save data</button>
            </div>
        </div>

    </ion-content>
</ion-view>