<ion-view hide-nav-bar="false" view-title="{{'Your credit card'|translate}}" id="payments">
    <ion-content scroll="false">
        <div class="list creditcard">
            <label class="item item-input item-label">
                <span class="input-label" translate>Card number</span>
                <input type="text" ng-model="creditcard.number" payments-validate="card" payments-format="card" payments-type-model="creditcard.type" />
            </label>
            <label class="item item-input">
                <span class="input-label" translate>Expiry</span>
                <input type="text" class="input-block-level" ng-model="creditcard.expiry" payments-validate="expiry" payments-format="expiry" />
            </label>
            <label class="item item-input item-label">
                <span class="input-label" translate>CVC</span>
                <input type="text" class="input-block-level" ng-model="creditcard.cvc" payments-validate="cvc" payments-format="cvc" payments-type-model="creditcard.type"/>
            </label>

            <button type="button" translate class="button button-block button-positive icon-left ion-lock-combination" ng-click="saveCardData()">Save card</button>
            <p translate>Learn more about protection of your sensitive data.</p>
        </div>

        <div class="card">
            <div class="item item-text-wrap">
            {{mangopay.result}}
            </div>
        </div>
    </ion-content>
</ion-view>