<ion-side-menus>

    <ion-side-menu-content drag-content="false" enable-menu-with-back-views="true">  
        <ion-nav-bar class="bar-calm">
            <ion-nav-back-button ng-click="goBack()"> {{getPreviousTitle() || 'Back'|translate}}</ion-nav-back-button>
        </ion-nav-bar>  
        <ion-nav-view name="menuContent"></ion-nav-view>
    </ion-side-menu-content>

    <!-- Left menu -->
    <ion-side-menu side="left" width="200" id="sidemenu">

        <ion-header>
            <img style="height: 46px;" src="assets/images/logo_small.png" alt="logo" /><br />
            <img style="height: 24px;" src="assets/images/logo-medium.png" alt="Debal" />
        </ion-header>
      
        <div class="list">
            <button class="item item-icon-left" ng-click="disconnect()">
                <i class="icon ion-unlocked"></i>
                <span translate>Disconnect</span>
                <p class="user_email">{{user_email}}</p>
            </button>

            <button class="item item-icon-left" ng-click="openJoinGroupPopup()">
                <i class="icon ion-android-share"></i>
                <span translate>Join a group</span>
            </button>

            <button class="item item-icon-left" ng-click="openSettings()">
                <i class="icon ion-wrench"></i>
                <span translate>Settings</span>
            </button>

            <button class="item item-icon-left" ng-click="openModal()">
                <i class="icon ion-chatbubble-working"></i>
                <span translate>Having an issue?</span>
            </button>

            <button ng-click="rateApp()" class="item item-icon-left">
                <i class="icon ion-star"></i>
                <span translate>Like the app?</span>
            </button>

            <button ng-click="shareApp()" class="item item-icon-left">
                <i class="icon ion-paper-airplane"></i>
                <span translate>Share the app!</span>
            </button>
        </div>

    </ion-side-menu>
</ion-side-menus>