<ion-side-menus>
    <ion-pane ion-side-menu-content>
        <ion-nav-bar class="bar-calm">
            <ion-nav-back-button ng-click="goBack()" class="button-clear"></ion-nav-back-button>
        </ion-nav-bar>
        <ion-nav-view name="menuContent"></ion-nav-view>
    </ion-pane>

    <!-- Left menu -->
    <ion-side-menu side="left" width="200" id="sidemenu">

        <ion-header>
            <img style="height: 46px;" src="assets/images/logo_small.png" alt="logo" />
            <div><img style="height: 24px;" src="assets/images/logo-medium.png" alt="Debal" /></div>
        </ion-header>

        <ion-content class="has-header" scroll="false">
            <div class="list">
                <a class="item item-icon-left" ng-click="disconnect()">
                    <i class="icon ion-unlocked"></i>
                    <span translate>Disconnect</span>
                    <p class="user_email">{{user_email}}</p>
                </a>

                <button class="item item-icon-left" ng-click="selectLanguage2()">
                    <i class="icon ion-android-share"></i>
                    <span translate>Join a group</span>
                </button>

                <button class="item item-icon-left" ng-click="openSettings()">
                    <i class="icon ion-wrench"></i>
                    <span translate>Settings</span>
                </button>

                <button class="item item-icon-left" ng-click="openModal()">
                    <i class="icon ion-chatbubble-working"></i>
                    <span translate>Having an issue?</span>
                </button>

                <button ng-click="rateApp()" class="item item-icon-left">
                    <i class="icon ion-star"></i>
                    <span translate>Like the app?</span>
                </button>
                

                <button ng-click="shareApp()" class="item item-icon-left">
                    <i class="icon ion-paper-airplane"></i>
                    <span translate>Share the app!</span>
                </button>
          </div>

        </ion-content>
      </ion-side-menu>
</ion-side-menus>