<ion-side-menus>
    <ion-pane ion-side-menu-content>
        <ion-nav-bar class="bar-calm">
            <ion-nav-back-button ng-click="goBack()" class="button-clear"></ion-nav-back-button>
        </ion-nav-bar>
        <ion-nav-view name="menuContent"></ion-nav-view>
    </ion-pane>

    <!-- Left menu -->
    <ion-side-menu side="left" width="200" id="sidemenu">

        <ion-header>
            <img style="height: 46px;" src="assets/images/logo_small.png" />
            <div><img style="height: 24px;" src="assets/images/logo-medium.png" /></div>
        </ion-header>

        <ion-content class="has-header" scroll="false">
            <div class="list">
                <a class="item item-icon-left" ng-click="disconnect()">
                    <i class="icon ion-unlocked"></i>
                    <span translate>Disconnect</span>
                    <p class="user_email">{{user_email}}</p>
                </a>

                <button class="item item-icon-left" ng-click="selectLanguage()">
                    <img class="icon flag" ng-src="assets/images/flag_{{device_lang}}.png" /> <!-- flag src: https://www.iconfinder.com/iconsets/finalflags -->
                    <span translate>Language</span>
                </button>

                <button class="item item-icon-left" ng-click="openModal()">
                    <i class="icon ion-chatbubble-working"></i>
                    <span translate>Write to support</span>
                </button>

                <button ng-click="rateApp()" class="item item-icon-left">
                    <i class="icon ion-star"></i>
                    <span translate>Rate the app</span>
                </button>
                

                <button ng-click="shareApp()" class="item item-icon-left">
                    <i class="icon ion-android-share"></i>
                    <span translate>Share the app !</span>
                </button>
          </div>

        </ion-content>
      </ion-side-menu>
</ion-side-menus>