<div id="select_language">
  <div translate class="input_label">Entrez le code à 4 caractères du groupe</div>
                        <label class="item item-input item-label">
                            <input class="centered" maxlength="255" ng-model="expense.title" type="text" placeholder="{{'Exemple : MHI6'}}" />
                        </label>
                                <button ng-click="goCreategroup()" class="button button-full button-balanced">
            <span translate>Valider</span>
        </button>
</div>