<ion-modal-view cache-view="false" id="modal-feedback">
    <ion-header-bar class="bar-secondary">
    	<h1 translate class="title">Contact support team</h1>
    </ion-header-bar>
    <ion-content class="padding">
    	<p translate>Having issues? Have suggestions? We'll answer quickly!</p>
        <textarea ng-model="modal.feedback_message" placeholder="{{'Write your message here'|translate}}"></textarea>
        <button translate class="button button-positive" ng-click="sendFeedback()">Send</button>
    </ion-content>
</ion-modal-view>